/* .aside {
  height: 40%;
  padding: 10px;
  border-style: solid;
  border-color: black;

  background-color: rgb(200, 179, 200);
} */


.aside {
  padding: 10px;
  height: auto;
  box-shadow: 3px 4px 7px 1px #484848;

  text-align: center;

  background-color: rgba(255, 255, 255, 0.945);
}

ol {
  padding: 0 20px;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  font-weight: bold;
  font-size: 18px;
  color: rgb(19, 65, 172);
  text-decoration: none;
}

a:hover {
  color: #34a0ff;
}

img {
  position: left;
  float: absolute;
  width: 100%;
  height: auto;
  max-width: 150px;
  display: block;
  margin: auto;
}
