<div class="aside">
    <h3>Favoriti</h3>
    <ol>
      <!-- <li *ngFor="let product of products" routerLinkActive="router-link-active" >
        <a [routerLink]="['/proizvod', product.id]">{{ product.naziv }}</a>
      </li> -->
      <li> <a> Product 1 </a> </li>
      <li> <a> Product 2 </a> </li>
      <li> <a> Product 3 </a> </li>
      <li> <a> Product 4 </a> </li>
      <li> <a> Product 5 </a> </li>
      <li> <a> Product 6 </a> </li>
      <li> <a> Product 7 </a> </li>
    </ol>
  </div>
