
<div class="content" *ngIf="product; else notfound">
    <div class="content-header">

          <h3>{{ product.naziv }} | {{ product.cijena }} €</h3>
    </div>
    <div class="main-content">
      <div class="img-wrapper">
        <img src="../../../assets/images/{{ product.image_name }}" alt="{{ product.naziv }}">
      </div>
      <p>{{ product.opis }}</p>
    </div>
    <hr>

    <div class="recenzije-container">
      <h4>Reviews</h4>
      <div class="recenzija" *ngFor="let recenzija of product.recenzije">
        <div class="usr-image-wrapper">
          <img src="../../../assets/images/user.png" alt="{{ recenzija.username }}">
        </div>
        <div class="recenzija-wrapper">
          <p class="username">{{ recenzija.username }}</p>
          <div class="rating">
            <i class="fas fa-star" *ngFor="let item of createRange(recenzija.ocjena)"></i>
            <i class="far fa-star" *ngFor="let item of createRange(5 - recenzija.ocjena)"></i>
          </div>
          <p>{{ recenzija.komentar }}</p>
        </div>
      </div>
    </div>
    <h2> <button style="margin: 5px" (click)="onReturn()"> Return </button></h2>
  </div>

  <ng-template #notfound>Product does not exist</ng-template>
