header {
    height: 95%;
    padding: 10px;
    border-style: solid;
    border-color: black;
  
    /* text-align: center; */
  
    background-color: rgb(111, 187, 153);
  }
  
  /* img .logo{
    width: 120px;
    height: auto;
    display: block;
    margin: auto;
    cursor: pointer;
  } */
  